<!DOCTYPE html>
<html lang="en" ng-app="budgetApp">
<head>
    <meta charset="UTF-8">
    <title>Budget App</title>
    <script src="../app/bower_components/angular/angular.js"></script>
    <script src="filters/uniqueFilter.js"></script>
    <script src=" ngmodules/appModule.js"></script>
    <script src="controllers/categoryListController.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body ng-controller="MainController as mainController">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">BUDGET APP</a>
    </div>
    <div class="panel panel-default row" ng-controller="categoryListController">
        <div class="col-xs-3">
            <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
            <a ng-repeat="category in mainController.budget | orderBy: 'category' | unique: 'category'" ng-click="selectCategory(category)" class="btn btn-block btn-default btn-lg" ng-class="getCategoryClass(category)">{{category}}</a>
        </div>
        <div class="col-xs-8">
            <div class="well" ng-repeat="item in mainController.budget | filter:categoryFilterFn">
                <h3>
                    <strong>{{item.name}}</strong>
                    <span class="pull-right label label-primary">{{item.amount | currency}}</span>
                </h3>
                <span class="lead">{{item.description}}</span>
            </div>
        </div>
    </div>
</body>
</html>